<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
	<p>This page shows details about the user "{{user.email}}"</p>
	<ul>
	  <li>id: {{user.id}}</li>
	  <li>email address: {{user.email}}</li>
	  <li>
		sensors:
		<ul>
		  {{#each sensors}}
		  <li><a href="/sensor/{{id}}">{{id}}</a></li>
		  {{/each}}
		</ul>
	  </li>
	</ul>
  </body>
</html>
